.container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  height: 100%;
}

.cards {
  flex: 2;

  display: flex;
  flex-direction: column;
  gap: 8px;

  overflow: auto;
}

.posts {
  flex: 3;
  overflow: auto;
}
